<!DOCTYPE html><html lang="en"><head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> -->
<!--<link href="https://fonts.googleapis.com/css?family=Helvetica:300,400,500" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <meta charset="utf-8">
  <!-- TODO for current page -->
  <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:image" content="./assets/images/background_&amp;_logo.jpg">
    <meta property="og:url" content="http://evalooni.de/">
    <meta property="og:title" content="Dein smarter Studienführer">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Evalooni ist ein Multitool für Studierende, das euch nie im Stich lässt - egal wie schwer der Uni-Alltag ist. Entwickelt von Studierenden für Studierende.">
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://evalooni.de/">
    <meta property="og:title" content="Dein smarter Studienführer">
    <meta property="og:description" content="Evalooni ist ein Multitool für Studierende, das euch nie im Stich lässt - egal wie schwer der Uni-Alltag ist. Entwickelt von Studierenden für Studierende.">
    <meta property="og:image" content="./assets/images/background_&amp;_logo.jpg">
    <title>Evalooni</title>
  <base href="/">

  <meta name="viewport" content="initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.2c3f2c0ab5059d9a73e3.css"></head>
<body>
  <app-root></app-root>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-51437424-2', 'auto');// add your tracking ID here.
    ga('send', 'pageview');
  </script>


<script type="text/javascript" src="runtime.6afe30102d8fe7337431.js"></script><script type="text/javascript" src="polyfills.9b2224d5a30fa833bf42.js"></script><script type="text/javascript" src="scripts.bdf26560abe4feccc91b.js"></script><script type="text/javascript" src="main.0eb2f8cffe99c3f3452c.js"></script></body></html>