<!DOCTYPE html><html lang="en"><head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> -->
<!--<link href="https://fonts.googleapis.com/css?family=Helvetica:300,400,500" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <meta charset="utf-8">
  <!-- TODO for current page -->
  <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:image" content="./assets/images/background_&amp;_logo.jpg">
    <meta property="og:url" content="http://evalooni.de/">
    <meta property="og:title" content="Dein smarter Studienführer">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Evalooni ist ein Multitool für Studierende, das euch nie im Stich lässt - egal wie schwer der Uni-Alltag ist. Entwickelt von Studierenden für Studierende.">
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://evalooni.de/">
    <meta property="og:title" content="Dein smarter Studienführer">
    <meta property="og:description" content="Evalooni ist ein Multitool für Studierende, das euch nie im Stich lässt - egal wie schwer der Uni-Alltag ist. Entwickelt von Studierenden für Studierende.">
    <meta property="og:image" content="./assets/images/background_&amp;_logo.jpg">
    <title>Evalooni</title>
  <base href="/">

  <meta name="viewport" content="initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.b40a6f8c34a6bd1ab505.css"></head>
<body>
  <app-root></app-root>


<script type="text/javascript" src="runtime.6afe30102d8fe7337431.js"></script><script type="text/javascript" src="polyfills.9b2224d5a30fa833bf42.js"></script><script type="text/javascript" src="scripts.bdf26560abe4feccc91b.js"></script><script type="text/javascript" src="main.f78ccf8d9dc3d5eaa68b.js"></script></body></html>